doctype 5
html(ng-app='melbjs-preso')
  head
    title Mimosa
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    script(src='/javascripts/vendor/angular.js')
    script(src='/javascripts/main.js')

  body
    #stage(ng-view)

    script#slide1(type='text/ng-template')
      .slide
        h1 BE A SUPERHERO
        p.sub with
        img(src='http://angularjs.org/img/AngularJS-large.png')

    script#slide2(type='text/ng-template')
      .slide
        h1 WAT
