doctype 5
html(ng-app='melbjs-preso')
  head
    title Mimosa
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    script(src='/javascripts/vendor/angular.js')
    script(src='/javascripts/main.js')

  body(ng-controller="BodyController")

    slide#1
      h1 BE A SUPERHERO
      p.sub with
      img(src='http://angularjs.org/img/AngularJS-large.png')

    slide#2
      h1 Angular
      ul
        li(step='2.1')
          | is a
          strong  framework
          |  for building web applications
        li(step='2.2') is an
          strong  alternative
          |  to Backbone/Ember
        li(step='2.3') is so much
          strong  more
          |  than that

